
@{
    ViewBag.Title = "education";
}

<h4>education</h4>
<table>
    <td>
        <h2>SSC : Monipur High School</h2>
        <h2>HSC: Saint Joseph Hgher Secondary School</h2>
        <h2>BSc in CSE : American International University Bangladesh</h2> 
    </td>
</table>

