@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.statically.io/gh/FahimHaider19/APJ_Summer22/main/style_tailwind_1.css">
</head>
<body>
    <div class="avatar">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
            <table>
                <td>
                <tr> <img src=@Url.Content("~/Content/img/2.png") /></tr>

                </td>

            </table>
        </div>
        <td>
            <br /><br />Hey there Good people<br />
            I am sadman saqib<br />
        </td>
    </div>
   
</body>
</html>

