
@{
    ViewBag.Title = "projects";
}

<h2>projects</h2>

<table>
    <td>
        <h2>c++ : Quiz Game</h2>
        <h2>JAVA: Inventory Managemennt System</h2>
        <h2>c#: pharmecy Manegement system</h2>
        <h2>Adv Java : ISP management system</h2>
    </td>
</table>