
@{
    ViewBag.Title = "skills";
}

<h2>skills</h2>

<table>
    <td>
        <h2>C++</h2>
        <h2>java</h2>
        <h2>C#</h2>
        <h2> python</h2>
        <h2> spring </h2>
    </td>
</table>